@import '../../styles/colors';

.sidebar-wrapper {
  @include color-palette;
  background-color: var(--color-blue);
  .logo .simple-text{
    color: var(--color-digitech-white);
  }
  .logo:after{
    background-color: var(--color-digitech-gray);
  }
  .nav li {
    a {
      color: var(--color-digitech-white);
      transition: color 0.3s ease;
      &:hover {
        color: lighten(white, 10%); // Ajusta el valor según tu preferencia
      }
      i {
        color: var(--color-digitech-white);
        transition: color 0.3s ease;
        &:hover {
          color: lighten(white, 10%); // Ajusta el valor según tu preferencia
        }
      }
    }
    &.active {
      a {
        color: lighten(white, 20%); // Ajusta el valor según tu preferencia
      }
    }
  }

}


